doctype 5
html
  head
     script(type='text/javascript', src='javascripts/iknow.app.js') 

  body


    br
    input(type="hidden", id="select", value="#{title}")
    canvas(id="pie", width="650" , height="315", style="cursor: pointer;")
