doctype 5
html
  head
   
   script(type='text/javascript', src='javascripts/jquery-1.8.0.min.js')
   script(type='text/javascript', src='javascripts/iknow.app.js')
   script(type='text/javascript', src='javascripts/jquery-ui-1.8.23.custom.min.js')
  body
    #accordion
      h3
        a(href="#") Метрика 1
      div
        p Число событий каждого типа  за различные периоды времени (например, за каждый день на протяжении последних 2х недель).
      h3
        a(href="#") Метрика 2
    
      div
        p. Изменение числа событий каждого типа за текущий период времени в сравнении с предыдущим периодом времени такой же длины.
      h3
        a(href="#") Метрика 3
    
      div
        p Суммарное изменение общего числа событий всех типов за текущий период времени в сравнении с предыдущим периодом времени такой же длины.
      h3
        a(href="#") Метрика 4
    
      div
        p Разница между числом событий каждого типа, произошедшим за последний период времени, с ожидаемым значением.
      h3
        a(href="#") Метрика 5
    
      div
        p Среднеквадроатичное отклонение числа событий всех типов, произошедших за последний период времени, от ожидаемых значений.
      h3
        a(href="#") Метрика 6
    
      div
        p Распределение числа событий, генерируемых каждым пользователем (actor) с возможностью просмотреть список самых активных пользователей.
      h3
        a(href="#") Метрика 7
    
      div
        p Распределение числа событий, совершенных над каждым объектом (для каждого типа объектов: pin, user, plan).

