extends layout

block content
  #logo
   a(href="http://iknow.travel")
    h1= title

  #pages
    ul
      li
        a(href="/tag_stats", class="hrefs") Статистика по тэгам
      li
        a(href="/constant_display", class="hrefs") Постоянные показатели

  div#param


