doctype 5
html
  head
   
   script(type='text/javascript', src='javascripts/iknow.app.js')
   
  body
    br
    br  
    input(type="hidden", id="select", value="#{title}")
    #rose
     canvas#rose_canvas(width="1200" , height="650")